* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_954 {
  width: 893px;
  height: 479px;
  background: url("../images/v28_954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 282px;
  overflow: hidden;
}
.v10_633 {
  width: 893px;
  height: 479px;
  background: url("../images/v10_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_532 {
  width: 893px;
  height: 479px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(101,0,0,1);
  overflow: hidden;
}
.v10_531 {
  width: 817px;
  height: 401px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 39px;
  border: 5px solid rgba(101,0,0,1);
  overflow: hidden;
}
.v5_387 {
  width: 100%;
  height: 900px;
  background: url("../images/v5_387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_257 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_271 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 1px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_278 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_382 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_279 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_383 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_280 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 372px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_281 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 496px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_282 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 620px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_283 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 743px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_284 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 867px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_285 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_286 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 1122px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_288 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_289 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 112px;
  left: 1374px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_272 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 2px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_290 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_291 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 247px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_273 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 3px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_274 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 4px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_275 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 5px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_276 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 6px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_277 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 7px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_258 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_384 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_260 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 249px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_385 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 249px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_375 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_376 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_377 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_378 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 247px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_379 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 124px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_380 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 249px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_261 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 374px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_262 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 499px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_263 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 624px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_264 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 748px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_265 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 873px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_266 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_267 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 1123px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_268 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v4_269 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 0px;
  left: 1373px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_301 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 372px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_339 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 372px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_357 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 372px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_302 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 496px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_340 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 496px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_358 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 496px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_303 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 620px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_341 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 620px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_359 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 620px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_304 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 743px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_342 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 743px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_360 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 743px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_305 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 867px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_343 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 867px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_361 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 867px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_306 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_344 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_362 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_307 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 1122px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_345 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 1122px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_363 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 1122px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_308 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 337px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_346 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_364 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_347 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 562px;
  left: 1374px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_365 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 787px;
  left: 1374px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_310 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 374px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_348 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 374px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_366 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 374px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_311 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 499px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_349 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 499px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_367 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 499px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_312 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 624px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_350 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 624px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_368 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 624px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_313 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 748px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_351 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 748px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_369 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 748px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_314 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 873px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_352 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 873px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_370 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 873px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_315 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_353 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_371 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 998px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_316 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 1123px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_354 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 1123px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_372 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 1123px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_317 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_355 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_373 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 1248px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_318 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 225px;
  left: 1373px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_356 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 450px;
  left: 1373px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v5_374 {
  width: 65px;
  color: rgba(101,0,0,0.02500000037252903);
  position: absolute;
  top: 675px;
  left: 1373px;
  font-family: Inter;
  font-weight: Black;
  font-size: 200px;
  opacity: 1;
  text-align: center;
}
.v42_1067 {
  width: 558px;
  height: 104px;
  background: rgba(245,245,245,0.8100000023841858);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 460px;
  transform: rotate(-1deg);
  overflow: hidden;
}
.v42_1071 {
  width: 440px;
  color: rgba(101,0,0,1);
  position: absolute;
  top: 134px;
  left: 528px;
  font-family: Intel One Mono;
  font-weight: Light;
  font-size: 80px;
  opacity: 1;
  text-align: center;
  transform: rotate(-1deg);
}
.v42_1073 {
  width: 98px;
  height: 290px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 1216px;
  border: 5px solid rgba(101,0,0,1);
  overflow: hidden;
}
.v42_1084 {
  width: 61px;
  height: 63px;
  background: rgba(0,126,52,1);
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 1234px;
  border-radius: 50%;
}
.v42_1086 {
  width: 14px;
  height: 136px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 485px;
  left: 1258px;
  border: 3px solid rgba(101,0,0,1);
  overflow: hidden;
}
.v42_1089 {
  width: 96px;
  color: rgba(0,126,52,1);
  position: absolute;
  top: 322px;
  left: 1210px;
  font-family: Instrument Sans;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v55_39 {
  width: 283px;
  height: 84px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 602px;
  border: 5px solid rgba(101,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v55_40 {
  width: 177px;
  color: rgba(101,0,0,1);
  position: absolute;
  top: 730px;
  left: 600px;
  font-family: Nanum Pen;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v112_386 {
  width: 117px;
  height: 351px;
  background: url("../images/v112_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 639px;
  transform: rotate(-4deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v113_387 {
  width: 123px;
  height: 369px;
  background: url("../images/v113_387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 392px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v113_388 {
  width: 104px;
  height: 312px;
  background: url("../images/v113_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 945px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
